<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the App</title>
</head>
<body>
  <h1>Welcome to the App!</h1>
  <p>Please create a profile or log in.</p>
  <a href="/create-profile">Create Profile</a>
  <br>
  <a href="/login">Log In</a>
</body>
</html>
